[submodule "Microcontroller/sublib"]
	path = Microcontroller/sublib
	url = git@github.com:PalouseRobosub/SUBLIBinal.git
[submodule "Microcontroller/AVR/sublib_avr"]
	path = Microcontroller/AVR/sublib_avr
	url = git@github.com:PalouseRobosub/SUBLIBinal_AVR.git
